<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>创建TODO</title>
		<link rel="stylesheet" href="/css/lib/bootstrap.min.css">
		<link rel="stylesheet" href="/css/lib/bootstrap-datetimepicker.min.css">
		<link rel="stylesheet" href="/css/main.css">
		<link rel="stylesheet" href="/js/lib/ckeditor/contents.css">

	</head>
	<body>
		<div class="create-container">
			<div class="page-header">
				<h1>定制属于你的TODO
				</h1>
			</div>
			<div class="create-form-wrap">
				<form role="form">
					<div class="input-group mtb-30 col-sm-6">
						<span class="input-group-addon">TODO标题</span>
						<input type="text" id="todo-title" class="form-control" placeholder="Enter Title">
					</div>
					<div class="input-group mtb-30 col-sm-6">
						<div class="input-group-btn">
							<button type="button" class="btn btn-default
							dropdown-toggle" data-toggle="dropdown">
							选择课程
							<span class="caret"></span>
							</button>
							<ul id="create-courses" class="dropdown-menu">
							</ul>
						</div>
						<input id="course-name" type="text" class="form-control">
					</div>
					<div class="row m-0">
						<div class="fl input-group mr-30 col-sm-5">
							<span class="input-group-addon">开始时间</span>
							<input id="btime" type="text" class="form-control datetimepicker">
						</div>
						<div class="fl input-group col-sm-5">
							<span class="input-group-addon">结束时间</span>
							<input id="etime" type="text" class="etime form-control datetimepicker">
						</div>
					</div>
					<div class="form-group mtb-30">
						<label for="" class="control-label">TODO正文</label>
						<textarea class="form-control ckeditor" name="editor" rows="3"></textarea>
					</div>
				</form>
			</div>
			<div class="control-wrap mtb-15">
				<button id="create-todo" class="btn btn-primary mr-15">创建</button>
				<button id="prev-todo" class="btn btn-primary">预览</button>
			</div>
			<div class="mask off">
				<div class="pop">
					<i class="fr close"></i>
					<div class="page-header text-center">
						<h3 class="prev-title"></h3>
					</div>
					<div class="pop-content-group">
						<label for="" class="content-label col-sm-2">所属课程：</label>
						<div class="col-sm-10">
							<p class="content-text prev-course"></p>
						</div>
					</div>
					<div class="pop-content-group">
						<label for="" class="content-label col-sm-2">开始时间：</label>
						<div class="col-sm-10">
							<p class="content-text prev-btime"></p>
						</div>
					</div>
					<div class="pop-content-group">
						<label for="" class="content-label col-sm-2">结束时间：</label>
						<div class="col-sm-10">
							<p class="content-text prev-etime"></p>
						</div>
					</div>
					<div class="pop-content-group content-main-wrap">
						<label for="" class="content-label col-sm-2">TODO正文：</label>
						<div class="content-main">
							<div class="content-text prev-text"></div>
						</div>
					</div>
					<div class="pop-content-group text-right">
						<button class="btn btn-primary prev-close">关闭</button>
					</div>
				</div>
			</div>
		</div>
		
		<script>
			var require = {
				baseUrl: './',
				urlArgs: 'v=1.0.0',
				waitSeconds: 0,
				paths: {
					'jquery': '/js/lib/jquery-1.11.1.min',
					'nicescroll': '/js/lib/jquery-nicescroll',
					'bootstrap-validator': '/js/lib/bootstrapValidator.min',
					'bootstrap': '/js/lib/bootstrap.min',
					'ckeditor': '/js/lib/ckeditor/ckeditor',
					'datetimepicker': '/js/lib/bootstrap-datetimepicker.min',
					'highcharts': '/js/lib/highcharts'
				}
			};
			var username = "{{username}}";
			var data = {
				id:"{{result._id}}",
				name:"{{result.name}}",
				cname:"{{result.cname}}",
				btime:"{{result.btime}}",
				etime:"{{result.etime}}",
				content:"{{result.content}}",
			}
		</script>
		<script src="/js/lib/require.min.js" data-main="/js/main.js"></script>
	</body>
</html>