<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home首页</title>
	<link rel="stylesheet" href="/teacher-todo/src/css/lib/bootstrap.min.css">
	<link rel="stylesheet" href="/teacher-todo/src/css/home.css">
</head>
<body>
	<div class="home-head">
		<div class="head-wrap col-sm-6">
			<span class="user icon-user"></span>
			<a href="" class="logout">退出</a>
		</div>
		<div class="head-wrap col-sm-6">
			<p class="create-course col-sm-6">
				<i class="create icon-plug-course"></i>
				<span class="create-course-text">创建新课程</span>
			</p>
			<p class="search col-sm-6">
				<label for="search" class="search-label"></label>
				<input type="text" id="search" class="search-input">
			</p>
		</div>
	</div>
	<div class="home-body">
		
	</div>
	<div class="home-foot">©Copyright Qiudw</div>
	<script>
    var require = {
        baseUrl: '/teacher-todo/',
        urlArgs: 'v=1.0.0',
        waitSeconds: 0,
        paths: {
            jquery: '/teacher-todo/src/js/lib/jquery-1.11.1.min',
            'bootstrap-validator': '/teacher-todo/src/js/lib/bootstrapValidator.min'
        }
    };
    </script>
	<script src="/teacher-todo/src/js/lib/require.min.js" data-main="src/js/home"></script>
</body>
</html>
