@charset "utf-8";
@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

$icon-spacing: 5px;
$icon-layout: "vertical";
@import "icon/*.png";
@include all-icon-sprites;


@mixin size($width,$height){
    width:$width;
    height:$height;
}
@mixin bg($url){
    background: $url;
}
@mixin bg-100($url){
    background: $url;
    background-size:100%;
}
@mixin bg-cover($url){
    background: $url;
    background-size:cover;
}

@mixin animate($str){
    -webkit-animation:$str;
    -moz-animation:$str;
    -ms-animation:$str;
            animation:$str;
}
@mixin keyframe($name){
    @keyframes #{$name}{
        @content;
    }
}

body{
    font-family: 'Microsoft Yahei';
    font-size: 12px;
    @include bg(#fff);
}

.fl{
    float: left;
}
.tac{
    text-align: center;
}
.off{
    display: none !important;
}
.home-head{
    @include size(100%,60px);
    @include bg(#19AA67);
    @include box-shadow(0px 5px #088D53);
    .head-wrap{
        height: 100%;
        font-size: 0px;
    }
    .user{
        display: inline-block;
        position: relative;
        @include size(32px,32px);
        margin:0 10px;
        top:9px;
        cursor: pointer;
    }
    .logout{
        display: inline-block;
        padding:0 10px;
        font-size: 18px;
        font-weight: bold;
        line-height: 60px;
        color:#fff;
    }
    .create-course{
        height: 100%;
        .create-wrap{
            float: right;
            @include size(160px,40px);
            padding:0 10px;
            margin-top:10px;
            @include bg(#fff);
            @include border-radius(10px);
        }
        .create{
            display: inline-block;
            position:relative;
            @include size(32px,33px);
            margin-right:10px;
            top:4px;
            cursor: pointer;
        }
        .create-course-text{
            position:relative;
            top:-4px;
            font-size: 18px;
            color:#666;
            cursor: pointer;
        }
    }
    .search{
        height:100%;
        .search-label{
            display: inline-block;
            position: relative;
            z-index: 3;
            top: 15px;
            left:200px;
            @include size(32px,32px);
            cursor: pointer;
        }
        .search-input{
            position: relative;
            top:4px;
            @include size(200px,40px);
            padding:5px 35px 5px 5px;
            border:1px solid #ddd;
            font-size: 16px;
            @include border-radius(5px);
            background: #f5f5f5;
        }
    }
    .user-info-wrap{
        position: absolute;
        z-index: 10;
        top:60px;
        left:100px;
        @include size(280px,auto);
        border-radius: 5px;
        @include bg(#f5f5f5);
        .info{
            margin:10px auto;
            padding: 10px;
            font-size: 0;
        }
        span{
            display: inline-block;
            font-size: 16px;
        }
        .info-name{
            @include size(80px,auto);
            text-align: right;
            margin-right: 10px;
            color:#19AA67;
        }
        .info-close{
            position: relative;
            float: right;
            @include size(32px,32px);
            top:-15px;
            left:20px;
            cursor: pointer;
            &:hover{
                mix-blend-mode:hard-light;
            }
        }
        .btn-wrap{
            margin:20px auto;
            text-align: center;
        }
        .edit-user{
            padding:5px 10px;
            font-size: 18px;
            font-weight: bold;
        }
        .edit-info{
            padding: 20px 10px 0;
        }
    }
}
.home-body{
    @include size(100%,100%);
    margin-top:5px;
    .home-nav{
        float: left;
        @include size(200px,auto);
        padding-bottom: 20px;
        height: auto;
        font-weight: bold;
        color: #fff;
        text-align: center;
        @include bg(#585858);

        .create-task{
            margin: 20px auto;
            @include size(180px,50px);
            line-height: 50px;
            background: #00A99D;
            font-size: 0;
            border-radius: 5px;
            cursor: pointer;
        }
        .plug-task{
            display: inline-block;
            position: relative;
            @include size(32px,32px);
            margin-right: 15px;            
            top: 8px;
        }
        .nav-item{
            padding: 0 10px;
            @include size(auto,45px);
            line-height: 45px;
            @include bg(#3E3D32);
            border-top:1px solid #666;
            cursor: pointer;
            &:hover{
                @include bg(#444442);
            }
        }
        .nav-course-close{
            &:after{
                content: '';
                float: right;
                position: relative;
                top:13px;
                @include size(0,0);
                border:10px solid transparent;
                border-left-color:#fff;
            }
        }
        .nav-course-open{
            &:after{
                top:20px;
                border:10px solid transparent;
                border-top-color:#fff;
            }
        }
        .nav-icon{
            float: left;
            position: relative;
            @include size(32px,32px);
            left:15px;
            top:7px;
        }
        .nav-text{
            font-size: 18px;
        }
        .course-item{
            padding: 0 10px;
            height: 40px;
            line-height: 40px;
            font-size: 16px;
            border-bottom: 1px solid #666;
        }
    }
    .list-wrap{
        overflow: hidden;
        min-height: 600px;
        border-left:3px solid #666;

        .lists-nav{
            margin:10px auto;
            @include size(800px,45px);
            line-height: 45px;
            text-align: center;
            font-size: 18px;
            font-weight: bold;
            color:#757575;
            border-radius: 10px;
            @include bg(#eee);
        }
        .list-nav-item{
            float: left;
            @include size(33.3%,45px);
            border-right:1px solid #ccc;
            cursor: pointer;
            &:last-child{
                border:none;
            }
            &:hover{
                @include bg(#19AA67);
                color:#e5e5e5;
                &:first-child{
                    border-radius: 10px 0 0 10px;
                }
                &:last-child{
                    border-radius: 0px 10px 10px 0px;
                }
            }
        }
        .list-main{
            margin:0 auto;
            @include size(1000px,500px);
            border-top:2px solid #19AA67;
            overflow: hidden;
        }
        .main-wrap{
            @include size(300%,500px);
            margin-left:-200%;
        }
        .main{
            float: left;
            padding:15px;
            @include size(33.33%,100%);
        }
        .add-todo-group{
            @include size(700px,180px);
            position: relative;
            margin:0 auto;
            top:150px;
            .add-todo-label{
                float: left;
                position: relative;
                top:10px;
                @include size(64px,64px);
            }
            .add-todo-control{
                float: left;
                @include size(600px,80px);                 
                margin-left: 30px;
            }
            .add-todo-input{
                @include size(100%,100%);
                padding-left:15px;
                line-height: 80px;
                border:none;
                border-bottom: 2px solid #c5c5c5;
                outline: none;
                font-size: 20px;
            }
        }
        .todos{
            .todo{
                position: relative;
                @include size(100%,45px);
                margin-bottom: 10px;
                padding: 0 10px 0 20px;
                @include bg(#e5e5e5);
                line-height: 45px;
                border-radius: 5px;
            }
            .todo-info{
                float: left;
                @include size(800px,100%);
                font-size: 16px;
                color:#757575;
            }
            .finished{
                float: none;
                width: auto;
            }
            .todo-new{
                position: absolute;
                @include size(32px,32px);
                top:-15px;
                left:-15px;
            }
            .todo-name{
                float: left;
                width:400px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                text-decoration: none;
                color: #656565;
                &:hover{
                    padding-left: 5px;
                    color:#088D53;
                    font-weight: bold;
                }
            }
            .todo-times{
                color:#088D53;
            }
            .todo-time{
                float: right;
                color:#757575;
            }
            .todo-operate{
                float: right;
                @include size(100px,100%);
            }
            .operate-icon{
                float: right;
                position: relative;
                margin-right: 10px;
                top:5px;
                @include size(32px,32px);
                cursor: pointor;
            }
        }
        .paginations{
            margin:30px auto;
            text-align: center;
            font-size: 0;
            .page{
                display: inline-block;
                margin:0 5px;
                padding:8px 13px;
                @include bg(#f3f3f3);
                color: #555;
                font-size: 14px;
                border-radius: 5px;
                &:hover{
                    @include bg(#FF7B28);
                    color:#fff;
                    font-weight: bold;
                    text-decoration: none;
                }
            }
            .cur{
                @include bg(#FF7B28);
                color:#fff;
                font-weight: bold;
            }
        }
    }
}
.home-foot{
    @include size(100%,60px);
    @include bg(#088D53);
    line-height: 60px;
    font-size: 16px;
    color:#fff;
    text-align: center;
}