@charset "utf-8";
@import "compass/reset";
@import "compass/css3/border-radius";
@import "compass/css3/box-shadow";

$icon-spacing: 5px;
$icon-layout: "vertical";
@import "icon/*.png";
@include all-icon-sprites;


@mixin size($width,$height){
    width:$width;
    height:$height;
}
@mixin bg($url){
    background: $url;
}
@mixin bg-100($url){
    background: $url;
    background-size:100%;
}
@mixin bg-cover($url){
    background: $url;
    background-size:cover;
}

@mixin animate($str){
    -webkit-animation:$str;
    -moz-animation:$str;
    -ms-animation:$str;
            animation:$str;
}
@mixin keyframe($name){
    @keyframes #{$name}{
        @content;
    }
}

html{ height:100%; }
body{
    height:100%;
    font-family: 'Microsoft Yahei';
    font-size: 12px;
    @include bg(url(../img/index-bg.jpg) repeat-y);
}

.fl{
    float: left;
}
.tac{
    text-align: center;
}
.off{
    display: none !important;
}

.wraper{
    @include size(100%,100%);
    @include bg(rgba(25,161,95,.3));
}
.index-container{
    position:fixed;
    top:50%;
    left: 50%;
    padding:15px;
    margin-left:-307px;
    transform: translateY(-50%);
    @include size(600px, auto);
    @include bg(#fff);
    // @include bg(rgba(25,161,95,.7));
    @include border-radius(10px);
    color:#666;
    .form-head{
        @include size(270px,auto);
        margin:15px auto 0;
        font-size: 0;
        font-weight: bold;
        text-align: center;
        .logo{
            display: inline-block;
            @include size(48px,48px);
        }
        .title{
            display: inline-block;
            position: relative;
            @include size(auto,48px);
            margin: 0 15px;
            line-height: 48px;
            top: -15px;
            font-size: 24px;
        }
    }
    .form-nav{
        padding:15px;
        text-align: right;
        border-top:2px dashed #fff;
    }
    .form-group{
        font-size: 16px;
        .control-label{
            font-weight: bold;
        }
    }
}